

/* ESTILOS A LA LISTA DE PROYECTOS */
.switch{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    /* margin-bottom: 100px; */
}
.software__list{
    /* margin-top: 100px; */
    column-span: all;
    padding: 15px;
    display: flex;
    border: solid 1px black;
    height: 150px;
    width: 300px;

}
.list__select{
    list-style: none;

}
.list__link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}


